@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@600&display=swap');

*{
    PADDING: 0;
    margin: 0;
    box-sizing: border-box;
}

.Text{
    margin-left: 10px;
    margin-top:10px;
    font-size: 32px;
    font-family: "Fira Sans Condensed",Arial, sans-serif;
    color: #e94295d3;
    letter-spacing: 1px;
}


body{
    background-image: url(background.png);
}


body .apps{
    border: none;
    width:175px;
    height:60px;
    margin:19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    position: relative;
    background-color: rgb(221, 66, 66);
    color: rgb(255, 196, 59);
    transition:transform 0.3s ease;
    border-radius: 7px;
}

body .apps::after, body .apps::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background:rgb(221, 66, 66);
    border-radius: inherit;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

body .apps:hover{
    transform: translate(-12px, -12px);
}
body .apps:hover::after{
    transform:translate(6px, 6px);
}
body .apps:hover::before{
    transform:translate(12px, 12px);
}





body .games{
    border: none;
    width:200px;
    height:64px;
    margin:19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    position: relative;
    color: rgb(46, 93, 107);
    background-color: rgb(52, 192, 127);
    transition:transform 0.3s ease;
    border-radius: 7px;
}


body .games::after, body .games::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background:rgb(52, 192, 127);
    border-radius: inherit;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

body .games:hover{
    transform: translate(-12px, -12px);
}
body .games:hover::after{
    transform:translate(6px, 6px);
}
body .games:hover::before{
    transform:translate(12px, 12px);
}