@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "KoHo", sans-serif, Arial, Helvetica

}

html, body
{
    height: 100%;
}
body
{
    width: 100%;
    height: 100%;
    background-color: #215e65;
}
header
{
    width:  100%;
    height: 13vh;
    background-color: #215e65;
    color: #ffffff;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    align-items: center;
}


.content
{
    width: 100%;
    height: 60vh;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content #seconds
{
    color: #ffffff;
    width: 270px;
    font-size: 2rem;
    padding:1rem;
    outline: none;
    background:none;
    border: none;
    border-bottom: 3px solid #ffffff;
}

.counter{
    color:#ffffff;
}

#seconds::placeholder
{
    color:#ffffff;
    font-size: 1.7rem;
}

.btn{
    margin-top: 40px;
    -webkit-appearance: none;
    box-shadow:
    -10px -10px 15px rgba(255,255,255,0.1),
    10px 10px 15px rgba(70,70,70,0.8);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border:8px solid#215e65;
    outline:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #215e65;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.8rem 1.7rem;
    font-size: 1.7rem;
    font-weight: 700;
}
.btn:after{
    font-family: "KoHo";
    color:#7a7a7a;
    font-size: 1.7rem;
}

.btn:active{
    box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.144),
    10px 10px 15px rgba(70, 70, 70, 0.657),
    inset -10px -10px 15px rgba(255, 255, 255, 0.178),
    inset 10px 10px 15px rgba(70, 70, 70, 0.664);
}
.btn:active:after{
    transition: 0.1s;
}

.start
{
    color:	#37d42f;
}

#continue
{
    color:#5ba7ee;
}

.stop{
    color: rgb(231, 58, 58);
}

#start, #stop, #continue{
    display:none;
}